.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

header{
    min-height: 100px;
}

main{
    
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    min-height: 300px;
    display: flex;
    justify-content:space-between;
}


.card1{
    background-color: rgb(227, 58, 137);
    min-height: 300px;
    width: 30%;
}

.card2{
    background-color: rgb(240, 11, 118);
    min-height: 300px;
    width: 30%;
}

.card3{
    background-color: rgb(125, 22, 70);
    min-height: 300px;
    width: 30%;
}

.herobox1{
    width: 50%;
    flex: 2;
}

.herobox2{
    width: 50%;
    flex: 1;
}